h1 Lưu thông tin mượn sách
form(action="/transaction/create", method="POST")
  select(name="bookRecieve")
    each a in dataBook
     option(value=a.title)= a.title

  select(name="userRecieve")
    each b in dataUser
     option(value=b.name)= b.name
  div
   button Add
  

div
  a(href="/transaction") Go back