html
 head
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
  link(rel="icon", href="./favicon.png", type="image/x-icon")
  link(rel="stylesheet", href="../../style.css")
 body
   block content